<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
    <body>
        <%- include('./partials/header') -%>
        <main class="index-main">
            <p class="error"><%= stack %></p>
            <p class="error"><%= error %></p>
            <p class="error"><%= message %></p>
        </main>
        <%- include('./partials/footer') %>
        <script src="/js/main.js"></script>
        <script src="/js/dark-mode.js"></script>
    </body>
</html>
